*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  outline:none;
}
body{
  font-family: 'Open Sans', sans-serif;
  background:#f4f7fc;
}

/* ========= header========== */
header{
  height: 47px;
  background-image: linear-gradient(91deg, #3f3fd4 0%, #0c0c66 99%);
  position:fixed;
  top: 0;
  width: 100%;
  z-index:999;
}

.navbar{
  overflow: hidden;
  height:47px;
}
.burgermenu{
  margin:17.5px 15px  23.5px 17.5px;
}
.logo{
  margin-top:10.7px;
  margin-bottom:17.2px;

}
/* =========headerclose ==========*/
/*======== sidebar========= */
.wrapper {
  display: flex;
  width: 100%;
}
.wrapper h6{
  color:#aaa;
  margin-top:16px;
  margin-left:15px;
}
#sidebar {
  width: 216px;
  position:fixed;
  top: 47px;
  left: 0;
  height: 100vh;
  z-index: 999;
  transition: all 0.3s;
  border-left:1px solid #aaa;
  box-shadow:2px 2px 10px #f1f1f1;
  background-color:#ffffff;
}
.circle{
 color:grey;
 font-weight:bolder;
 font-size:12px;
}
.wrapper ul li{
  padding: 10px;
}
#homeSubmenu ul li ul li{
  padding:3px;
}
#homeSubmenu a{
width:100%;
text-align:center;
color:#aaa;
margin: 0 5px;
}
#homeSubmenu a.active{
font-weight:600;
color:black;
}

.collapsed.dropdown-toggle::after {
display: inline-block;
margin-left: .255em;
vertical-align: .255em;
content: "";
border-top: .3em solid;
border-right: .3em solid transparent;
border-bottom: 0;
border-left: .3em solid transparent;
transform: rotate(89deg);
}
.dropdown-toggle::after {
transform: rotate(0deg);
}
/*======== sidebar close========= */

/* ========Publish  Products======= */
#view{
  margin-left:216px;
  width:calc(100%-216px);
  padding-top:83px;
  }
.contained{
max-width: calc(100%-1280px);
}
.ProductTitle{
font-size: 26px;
font-weight: 600;
text-align: left;
color: #2d2f39;
}
.ProductDownload{
float:right;
 border: 1px solid #2e2eb0;
 border-radius:5px;
 padding-left: 18px;
}
.PDBtn{
  clear: both !important;
  font-size: 14px;
  font-weight: 600;
  color: #2e2eb0;
  border: none;
  background-color: transparent;
  padding:10px 18px 10px 0px;
}
.PDBtn:focus{
  outline: none;
}
.selectionbar{
margin-top: 30px;
}
.PPR{
  border: solid 1px #707070;
  border-radius: 2px;
  font-size: 17px;
  height:38px;
  width: 140px;
  background-color: transparent;
  color: #888888;
  margin-top:30px;
}
.warehouses{
 margin-top: 13px;
} 
.first{
 margin-top: 37px;
} 
.second{
margin-top: 37px;
}
.flexcontainer{
  display: flex;
  flex-direction: row;
}
.cards{
  display: none;
  width:100%;
  background-color: #ffffff;
  font-size: 16px;
  text-align: left;
  color: #23282d;
  line-height: 1.8;
  padding:15px 10px 15px 15px;
}

.PPActive{
  margin-left:20px;
  padding:3px 15px 3px 15px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600px;
  color: #ffffff;
  border-radius:20px;
  background-color: #61bc08;
}
.WRC{
  color:#0c0c66;
  font-weight:bold;
  margin-left: 12px;
}
.WRCA{
  padding-left:22px;
} 
 .label{
     font-size: 14px;
    font-weight: 600;
    color: #888888;
    
}
.fileforupload{
  background-color: #ffffff;
  border: 1px solid rgba(112, 112, 112, 0.18);
  color: #888888;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
}
.subbtn{
background-color: #888888;
color: #f1f1f1;
font-size: 15px;
font-weight: 600;
border:none;
border-radius: 5px;
padding-top: 10px 20px 10px 20px;
}
.subbtn:focus{
  outline:0;
}

.uploadsection{
  display: none;
}

.progress-container{
border: solid 1px rgba(112, 112, 112, 0.18);
border-radius: 5px;
}



/* input[type="radio"]:checked:before{
content: "";
display: block;
position: relative;
top: 3px;
left: 3px;
width: 6px;
height: 6px;
border-radius: 50%;
background: #0c0c66;
} */
.pubbtn{
background-color: #888888;
color: #f1f1f1;
font-size: 15px;
font-weight: 600;
border:none;
border-radius: 5px;
}
.pubbtn:focus{
  outline:0;
}

.plusicon{
width:45px;
height: 45px;
border-radius: 25px; 
line-height: 45px;
text-align:center; 
font-size:50px;
font-weight: 600;
background-color: #0c0c66;
opacity: 0.5;
}

.plusicon:hover{
  width:45px;
height: 45px;
border-radius: 25px; 
line-height: 45px;
text-align:center; 
font-size:50px;
font-weight: 600;
background-color: #0c0c66;
opacity: 0.9;
}

.plusicon a{
text-decoration: none;
color: #f1f1f1;
}
.Totaltime{
font-size: 16px;
line-height: 3.69;
text-align: left;
color: #23282d;
margin-top:18px;
margin-left: 0px;
}

.pbt{
margin-top: 40px;
}

.sel{
  position: relative;
  float: left;
  width:28%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}



/*  Media Quries */


/*phones, 600px and below */
@media only screen and (max-width: 600px) { 
.error{
  height:700px;
  position: static;
  background-color:#ffffff;
  display:none;
  overflow:scroll;
}
.description{
background-color: #f7d1d1;
color: #23282d;
line-height: 3.69;
font-size: 16px;
font-weight: 600;
}
.sel{
width: 100%;
}
.selres{
width: 100%;
}
.PPR{
width:230px;
margin-left: 20px;
}

}

/*portrait tablets and large phones, 600px and above */
@media only screen and (min-width: 600px) { 
.error{
  height:700px;
  width:500px;
  position: static;
  background-color:#ffffff;
  display:none;
  overflow:scroll;
}
.description{
background-color: #f7d1d1;
color: #23282d;
line-height: 3.69;
font-size: 16px;
font-weight: 600;
}
.sel{
width: 100%;
}
.selres{
width: 100%;
}

}

/* landscape tablets, 768px and above */
@media only screen and (min-width: 768px) {
.error{
  height:700px;
  position: static;
  background-color:#ffffff;
  display:none;
  overflow:scroll;
}
.description{
background-color: #f7d1d1;
color: #23282d;
line-height: 3.69;
font-size: 16px;
font-weight: 600;
}
}

/* laptops/desktops, 992px and above */
@media only screen and (min-width: 992px) { 
.error{
  height:700px;
  position: static;
  background-color:#ffffff;
  display:none;
  overflow:scroll;
}
.description{
background-color: #f7d1d1;
color: #23282d;
line-height: 3.69;
font-size: 16px;
font-weight: 600;
}
}

/* large laptops and desktops, 1200px and above */
@media only screen and (min-width: 1200px) {
.error{
  height:700px;
  float: right;
  margin-top: -780px;
  background-color:#ffffff;
  display:none;
  overflow:scroll;
}
.description{
background-color: #f7d1d1;
color: #23282d;
line-height: 3.69;
font-size: 16px;
font-weight: 600;
}
}
@media only screen and (min-width: 1600px) {
  .error{
    height:700px;
    float: right;
    margin-top: -725px;
    background-color:#ffffff;
    display:none;
    overflow:scroll;
  }
  .description{
  background-color: #f7d1d1;
  color: #23282d;
  line-height: 3.69;
  font-size: 16px;
  font-weight: 600;
  }

  #editMenu{
    font-size:12px;
    padding-left:0px;
    padding-right:0px;
  }
  input[type='file']{
    margin-top:60px;
  }
  input[type='file']{
    margin-top:60px;
  }
  #thumbnail{
    margin-right:0px;
  }
  .upload{
    width:90px;
  }
  .close-prev{
    right:120px;
  }
  /* .select2,
  .select2-container, 
  .select2-container--default{
    width:235.613px !important;
  } */

  }
  
/* .TT1,.TT2,.TT3{
display: none;
} */
.form-group label{
  margin-left:0px;
}
.file {
  position: relative;
  overflow: hidden;
}
.file input {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}
.upload{
  width: 100px;
border-radius: 8px;
background-color: #fd9a65;
color:#fff !important;
font-weight:600 !important;
cursor:pointer;
outline:none !important;
box-shadow:none !important;
}

.close-prev{
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
  position: absolute;
  top: 20px;
  right: 150px;
  color: red;
  display:none;
}
.close-prev:hover{
  color:red;
}
#editMenu .card{
  background:#fff;
  box-shadow:none;
  height: 110px;
  margin:15px 0;
}
.text{
  font-size: 14px;
  text-align: left;
  font-weight: bold;
  color: #0c0c66;
}
.form-inline label{
  margin:0px;
}
#iso,#gmp,#fda,#custom,#none,#activeid,#inactiveid{
  margin-right:10px;
  margin-left:15px;
  border:1px solid #23282d !important;
}
.col-height{
  border:1px solid #ddd;
  height:705px;
}
.img-pos{
  position:relative;
  top:70px;
  cursor: pointer;
  color:#0c0c66;
  opacity:.5;
  float:right;
}
.img-pos:hover{
  opacity:1;
}


.save-btn{
width: 140px;
border: solid 1px rgba(112, 112, 112, 0.18);
background-color: #3e3ed2;
box-shadow:none !important;
outline:none !important;
}
.btn-pill{
width:75px;
padding:0px 10px;
border-radius: 10px;
background-color: #61bc08;
font-size:14px;
font-weight:600;
border:none;
outline:none;
box-shadow:none;
color:#fff;
}
.btn-pill-de{
  width:75px;
  padding:0px 8px;
  border-radius: 10px;
  background-color: #dd3446;
  font-size:14px;
  font-weight:600;
  border:none;
outline:none;
box-shadow:none;
color:#fff;
  }
  .btn-pill:hover,
  .btn-pill-de:hover{
    color:#fff;
  }

  img{
    max-width:180px;
  }
  input[type=file]{
  padding:10px;
  background:#2d2d2d;
  margin-top:60px;
}
.number-padng{
  padding:0 .75rem;
}
  #extraLargeModal{
    padding-right:0px !important;
  }
  #extraLargeModal .modal-dialog{
    margin-top:0;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
    min-height: 100vh;
    float: right;
    min-width:900px;
  }
  #extraLargeModal .modal-content{
    width:90%;
    border-radius:0px !important;
    float: right;
  }
 
  #extraLargeModal input,
  #extraLargeModal select,
  #extraLargeModal textarea{
    outline:none;
    box-shadow:none;
    font-size: 14px;
  }
  #extraLargeModal input::placeholder{
    color:#aaa;
  }
  #blkqty{
    display: block;
    margin: auto;
    
  }
  #extraLargeModal input[type='radio']:first-child{
    margin-left:0px;
  }
  #extraLargeModal input[type='radio']::before{
    top:11px;
  }
  .attachText{
    position: relative;
    left:31%;
    color:#aaa;
    font-weight: bold;
    font-size: 13px;
  }
  #extraLargeModal h5{
    font-weight:600 !important;
  }
  #pdfup{
    margin-top:35px;
    margin-right:75px;
  }
  .blkQty{
    margin-left:0px;
    margin-right:0px;
  }
  .yesbtn{
    padding:3px 18px 6px 18px;
    font-size:14px;
    background:none;
    border:1px solid #707070;
    color:#0c0c66;
  }
  .yesbtn:focus{
    outline:none;
  }
  .nobtn{
    background:rgb(62, 62, 210);;
    color:#fff;
  }
  .selleractive{
    padding:3px 18px 6px 18px;
    font-size:14px;
    border:1px solid #707070;
    color:#0c0c66;
    background:none;
  }
  .selleractive:focus{
    outline:none;
  }
  .seller-de{
    background:none;
    padding:0px 10px;
    color:#fff;
    background:rgb(62, 62, 210);
  }
  .max-length{
    color:#aaa;
    font-weight:bold;
    float:right;
    font-size:12px;
  }
  .modal-save{
    width: 140px;
    background-color:rgb(62, 62, 210);
    color:#fff;
    font-weight: 600;
    outline:none !important;
    box-shadow: none !important;
  }
  
  .modal-save:hover{
    color:#fff;
  }
  .select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    height: 38px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 38px;
}
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}
#extraLargeModal .select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
  width: 100% !important;
}
#extraLargeModal .select2-container--default .select2-selection--single {
background-color: #fff;
border: 1px solid #aaa;
border-radius: 4px;
height: 34px;
}

#extraLargeModal .select2-container--default .select2-selection--single .select2-selection__rendered {
color: #495057;
line-height: 30px;
}

#extraLargeModal .select2-container--default .select2-selection--single .select2-selection__arrow {
height: 30px;
position: absolute;
top: 1px;
right: 1px;
width: 20px;
}

#extraLargeModal label{
  display:block !important;
}

#thumbnail{
  width:60%;
  height:80%;
  margin-right:20px;
  margin-bottom:10px;
}
/* 
#labeled {
margin-right: 50px;
margin-left: 30px;
color: #647589;
} */
.form-row{
  margin-top:16px;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
}

.TXT{
  font-size: 14px !important;
}
.form-inline .lbl-m{
  margin-right:10px;
}